.Calendar-title {
  background-color: rgb(4, 4, 105);
  background-position-x: right;
  font-family: 'Shadows Into Light', cursive;
  color: gold;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  height: max-content;
  width: 100%;

}


.get-Months {
  background-image: url('https://img5.goodfon.com/wallpaper/nbig/2/c0/2019-god-2019-minimalizm-fon-background-minimalism-kalendar.jpg');
  background-position-x: center;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 90vh;
  width: 68%;
}
body {
  background-image: url('https://i.etsystatic.com/6310554/r/il/3b4f4d/2033077148/il_fullxfull.2033077148_5x8e.jpg');
}

footer {
  background-color: rgb(4, 4, 105);
  background-position-x: right;
  font-family: 'Shadows Into Light', cursive;
  color: gold;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  height: max-content;
  width: 100%;
  

}
.button {
  background-color: gold;

}
